# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local configuration files
*.ini
*.log
*.env

# Compiled bytecode
*.pyc

# Distribution directories
dist/
build/

# Python egg metadata
*.egg-info/

# Virtual environment
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# Ignore pipenv virtual environment
Pipfile.lock

# Ignore system-specific files
.DS_Store
Thumbs.db
